* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    text-decoration: none;
    list-style-type: none;
  
    font-family: yekan;
    line-height: 1.85;
  }
  @font-face {
    font-family: yekan;
    src: url('../fonts/iranyekanweblightfanum.ttf')
  }
  
  @font-face {
    font-family: yekanB;
    src: url('../fonts/iranyekanwebextraboldfanum.ttf')
  }
  body{background-color: rgb(227, 226, 226);}

  
/* start header style */

/* start dark mode */
.dark-mode{
  position: relative;
  width: 28px;
  height: 15px;
  display: block;
  background: #d9d9d9;
  border-radius: 100px;
  cursor: pointer;
  box-shadow: inset 0px 5px 15px rgba(0, 0, 0, 0.3),
    inset 0px -5px 15px rgba(255, 255, 255, 0.3);
}

.dark-mode:after {
  content: "";
  position: absolute;
  height: 12px;
  width: 12px;
  background: #f2f2f2;
  border-radius: 100px;
  top: 1px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

input:checked~label:after {
  left: 27px;
  transform: translateX(-100%);
  background: linear-gradient(180deg, #777, #3a3a3a);
}

input:checked~label {
  background: #242424;
}

/* .background {
  position: absolute;
  width: 100%;
  height: 150vh;
  background-color: #f2f2f6;
  z-index: -1;
  transition: 0.5s;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
} */

input:checked+label+.background {
  background: #242424;
}

#dark-mode{
  display: none;
}

/* finish dark mode */

/* search bar */
.search {
  width: 15%;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: left;
  float: left;
  direction: rtl;
}

.search>input {
  border: none;
  outline: none;
  width: 122px;
  height: 60px;
  display: inline-block;
  background: unset;
}

.search>img {
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: right;
  background: unset;
  margin-left: 8px;
}

::placeholder {
  text-align: right;
  direction: rtl;
}

/* finish */

/* menu bar  left*/
.image {
  width: 35px;
  height: 36px;
  background-image: url("../image/1.png");
  border-radius: 50px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin-left: 10px;
}

.iran {
  width: 35px;
  height: 36px;
  background-image: url("../image/svgexport-1.svg");
  border-radius: 50px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

header {
  width: 100%;
  height: 50px;
  display: inline-flex;
  justify-content: space-between;
  align-items: inherit;
  position: fixed;
  top: 0;
}

.contaner {
  margin: 0;
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-between;
}

header>.contaner>ul>li>a>img {
  width: 25px;
  height: 26px;
}

header>.contaner>ul {
  margin: 15px 25px;
  margin-right: 0px;
  display: flex;
  flex-direction: row-reverse;
  justify-content: left;
  vertical-align: baseline;
  align-items: center;
}

header>.contaner>ul>li {
  padding-right: 20px;
  display: flex;
  flex-direction: row;
  justify-content: left;
}

button.toggle {
  border: none;
  outline: none;
  background-color: unset;

}

/* down box */
#link-box {
  width: 120px;
  height: 0px;
  display: none;
  float: right;
  border: none;
}

.toggle:focus~#link-box {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 0;
}

#link-box>ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  border-radius: 3px;
  height: 300px;
  width: 300px;
  left: 128px;
  position: relative;
  top: 45px;
  padding: 0 10px;
  box-shadow: rgba(17, 17, 26, 0.05) 0px 4px 16px,
    rgba(17, 17, 26, 0.05) 0px 8px 32px;
}

#link-box>ul>li {
  list-style: none;
  padding-bottom: 6px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  vertical-align: middle;
  text-align: center;
}

#link-box>ul>li>a {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  text-decoration: none;
  color: #000000;
  padding: 8px;
  text-align: center;
}

#link-box>ul>li>a>img {
  width: 25px;
  height: 26px;
  border-radius: 50px;
}

/* grid buttom */
.toggle>img {
  width: 25px;
  height: 26px;
}

#grid-box {
  width: 0px;
  height: 0px;
  display: none;
  float: right;
  border: none;
}

.toggle:focus~#grid-box {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

#grid-box>ul {
  left: 250px;
  display: grid;
  grid-template-columns: repeat(2, 150px);
  grid-template-rows: repeat(8, 100px);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  border-radius: 3px;
  height: 400px !important;
  width: 300px !important;
  position: relative;
  top: 45px;
  padding: 0 10px;
  box-shadow: rgba(17, 17, 26, 0.05) 0px 4px 16px,
    rgba(17, 17, 26, 0.05) 0px 8px 32px;
}

#grid-box>ul>li {
  list-style: none;
  padding-bottom: 6px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  vertical-align: middle;
  text-align: center;
  width: 140px;
  height: 100px;
}

#grid-box>ul>li>a {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  text-decoration: none;
  color: #000000;
  padding: 8px;
  text-align: center;
  vertical-align: middle;
  justify-content: center;
  align-items: center;
}

#grid-box>ul>li>a>img {
  width: 25px;
  height: 26px;
  border-radius: 50px;
}

/* finish */

/* notif box */
#notif-box {
  width: 0px;
  height: 0px;
  display: none;
  float: right;
  border: none;
}

.toggle:focus~#notif-box {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

#notif-box>ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  left: 283px;
  border-radius: 3px;
  height: 400px !important;
  width: 300px !important;
  position: relative;
  top: 45px;
  padding: 0 10px;
  box-shadow: rgba(17, 17, 26, 0.05) 0px 4px 16px,
    rgba(17, 17, 26, 0.05) 0px 8px 32px;
}

#notif-box>ul>li {
  list-style: none;
  padding-bottom: 6px;
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 100px;
}

#headr {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 80px !important;
}

#notif-box>ul>li>a {
  display: flex;
  flex-wrap: wrap;
  text-decoration: none;
  color: #000000;
  padding: 8px;
  text-align: right;
  vertical-align: middle;
  justify-content: right;
  align-items: center;
  width: 100% !important;
}

#headr>a {
  display: flex;
  flex-direction: row !important;
  flex-wrap: wrap;
  text-decoration: none;
  color: #000000;
  padding: 8px;
  text-align: center;
  vertical-align: middle;
  justify-content: space-between !important;
  align-items: center;
  width: 100% !important;
}

#notif-box>ul>#headr>a>img {
  width: 25px;
  height: 26px;
  border-radius: unset;
}

#notif-box>ul>li>a>img {
  width: 25px;
  height: 26px;
  border-radius: 50px;
  margin-left: 10px;
}

#notif-box>ul>div {
  width: 300px;
  height: 1px;
  background-color: #000000;
}

#footr {
  height: 80px !important;
}

#footr>a {
  text-align: center;
  display: flex;
  flex-direction: row !important;
  flex-wrap: wrap;
  text-decoration: none;
  color: #000000;
  padding: 8px;
  text-align: center;
  vertical-align: middle;
  justify-content: center !important;
  align-items: center;
  width: 100% !important;
}

/* finish */

/* prof box */
#prof-box {
  width: 0px;
  height: 0px;
  display: none;
  float: right;
  border: none;
}

.toggle:focus~#prof-box {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

#prof-box>ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  left: 309px;
  border-radius: 3px;
  height: 400px !important;
  width: 300px !important;
  position: relative;
  top: 45px;
  padding: 0 10px;
  box-shadow: rgba(17, 17, 26, 0.05) 0px 4px 16px,
    rgba(17, 17, 26, 0.05) 0px 8px 32px;
}

#prof-box>ul>li {
  list-style: none;
  padding-bottom: 6px;
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 100px;
}

#prof-box>ul>li>a {
  display: flex;
  flex-wrap: wrap;
  text-decoration: none;
  color: #000000;
  padding: 8px;
  text-align: center;
  vertical-align: middle;
  justify-content: right;
  align-items: center;
  width: 100% !important;
}

#prof-box>ul>li>a>img {
  width: 25px;
  height: 26px;
  margin-left: 10px;
}

#prof-box>ul>div {
  width: 300px;
  padding: 0.5px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  height: 0.5px !important;
  display: inline-block;
  background-color: #585858;
}

/* finish */

/* finish style header */

/* responsive */
header>.humbergerMenu {
  display: none;
}

.togglemob {
  display: none;
}

@media screen and (max-width: 768px) {
  .search>input {
    display: none;
  }

  .search>img {
    display: flex;
    justify-content: left;
  }

  .main-nav {
    height: 1054px;
  }

  .background {
    height: 151vh;
  }

  header>.humbergerMenu {
    display: block !important;
  }

  .togglemob {
    display: flex !important;
  }

  .main-nav {
    display: none;
  }

  .humbergerMenu>#mobil-box>.main-nav {
    display: block;
  }

  .togglemob>img {
    position: fixed;
    width: 30px;
    left: 397px;
    right: 17px;
    bottom: 0px;
    top: 12px;
    right: 0;
  }
}

@media screen and (max-width: 576px) {
  .togglemob {
    display: flex;
    justify-content: right;
    float: right;
  }

  .togglemob>img {
    position: fixed;
    width: 30px;
    left: 397px;
    right: 17px;
    bottom: 0px;
    top: 12px;
    right: 0;
  }

  .search {
    width: 32%;
  }
}
/* ************   user profil content   ************ */
.up-baner {
  position: relative;
  width: 1000px;
  margin: 0 auto;
  z-index: -1;
}

.dovom {
  position: absolute;
  display: flex;
  width: 1000px;
  margin: 0 auto;
  bottom:-90px;
  left: 3px;
  gap: 10px;
}

.yeki {
  font-size: 20px;
}
.banner-fa {

  width: 100%;
  height: 385px;
  z-index: -999;
  
}

.banner {
  width: 1100px;
  height: inherit;
  display: flex;
  flex-direction: column;
margin: 4% auto;



}

.help {
  width: 1100px;
  height: inherit;
  display: flex;
  flex-direction: column;
  margin: 11% 4.6%;
  z-index: -1;
}

  .upper-banner {
    width: 100%;
    height: 250px;
    /* z-index: 1; */
    /* border: 1px solid red; */
  }
  
  .profile-banner-img {
    width: 100%;
    height: 100%;
  }
  
  .down-banner {
    width: 100%;
    height: 135px;
    display: flex;
    flex-direction: row;
    background-color: rgb(255, 255, 255);
    border-radius: 0 0 8px 8px;
  }
  
  .down-left-banner {
    width: 930px;
    height: 120px;
    display: flex;
    flex-direction: row;
    /* justify-content: space-between; */
    /* align-items: end; */
    /* border: 2px solid rgb(24, 239, 8); */
  }
  
  .down-left-banner a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 75px;
    height: 35px;
    text-decoration: none;
    padding: 20px 55px;
  
    border-radius: 5px;
    background-color: #0371f8;
    color: white;
    margin-top: 75px;
    margin-right: 75px;
    font-size: 16px;
    font-weight: 800;
    opacity: .7;
    transition: box-shadow .3s, opacity .3s;
  }
  
  .down-left-banner a:hover {
  
    box-shadow: 0rem 0.125rem .55rem .180rem rgba(54, 57, 61, 0.4);
    opacity: .6;
  }
  
  .down-left-banner-text {
    width: 700px;
    /* height: 150px; */
    /* border:2px solid #0371f8; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    margin-right: 25px;
    /* margin-bottom: 5px; */
  }
  
  .down-left-banner-text h4 {
    font-size: 20px;
    font-weight: bold;
    color: #303d4d;
  }
  
  .down-left-banner-text ul {
    list-style-type: none;
    display: flex;
    gap: 30px;
  
  }
  
  .list-of-autor li {
    font-size: 15px;
    font-weight: 900;
    color: #626f7c;
    /* border: 1px solid red; */
  
  }
  
  .bx-user-check {
    margin-left: 5px;
    font-size: 18px;
  
  }
  
  .down-right-banner {
    /* border: 3px solid blue; */
    width: 170px;
    z-index: 2;
    margin-top: -35px;
  
  }
  
  .profile-user-img {
    width: 120px;
    border: 5px solid white;
    border-radius: 5px;
    margin-right: 50px;
  }
  
  /* /user profile banner */
  /* *********   navbar pill       *********** */


#navpill {
  width: 100%;
  height: 70px;
  margin-top: 110px;
}
#navpill > .contaneier {
  width: 1150px;
  height: 70px;
  margin: 0 auto;
}
#navpill > .contaneier > #row {
  width: 100%;
  height: 70px;
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
}
#navpill > .contaneier > #row > ul {
    width: 50%;
  height: 70px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: nowrap;
}
#navpill > .contaneier > #row > ul > li {
  width: 68px;
  height: 20px;
  list-style: none;
  padding: 10px;
}
#navpill > .contaneier > #row > ul > li > a > img {
  width: 20px;
  height: 20px;
  margin-left: 0.35rem !important;
}
#navpill > .contaneier > #row > ul > li > a {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  font-weight: 500;
  line-height: 18.4px;
  font-size: 18.4px;
  font-family: "boxicons" !important;
  font-style: normal;
  color: #516377;
  vertical-align: middle;
  width: 150px;
  height: 50px;
}
#navpill > .contaneier > #row > ul > li:hover a{
    background-color: #5a8dee;
    color: #fff;
    box-shadow: 0 0.125rem 0.25rem rgba(147, 158, 170, 0.4);
    width: 150px;
    height: 60px;
    border-radius: 5px;

  }
  #navpill > .contaneier > #row > ul > li ~a:visited {
    background-color: #5a8dee;
    color: #fff;
    box-shadow: 0 0.125rem 0.25rem rgba(147, 158, 170, 0.4);
    width: 150px;
    height: 50px;
    border-radius: 5px;
  }
/* *********   /navbar pill       *********** */
 
  /* footer */
  

  .footer-fa {
    width: 100%;
  }
  
  .footer-so {
    width: inherit;
    padding: 25px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    bottom: 0;
  }
  .left-footer {
    display: flex;
  
    gap: 35px;
  }
  
  .gray1 {
    color: #39495c;
  }
  .h6last{color: #303d4d;
    font-size: 18px;
    font-weight: 800;}
    span {
      font-size: 15px;
      color: #6c7c8c;
      font-weight: 600;
    }
  /* /footer */
